<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CryptoBike</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Plugin CSS -->
  <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="css/cryptobike.min.css" rel="stylesheet">

  <!-- Add references to the Azure Maps Map control JavaScript and CSS files. -->
  <link rel="stylesheet" href="https://atlas.microsoft.com/sdk/css/atlas.min.css?api-version=1" type="text/css" />
  <script src="https://atlas.microsoft.com/sdk/js/atlas.min.js?api-version=1"></script>

  <!-- Add a reference to the Azure Maps Services Module JavaScript file. -->
  <script src="https://atlas.microsoft.com/sdk/js/atlas-service.js?api-version=1"></script>

  <script>

  var vlat, vlon;
  // Get current location
  if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function (position) {
       vlat = position.coords.latitude;
       vlon = position.coords.longitude;
       console.log(vlat)
       console.log(vlon)
      });
    } else { 
       vlat = 43.6629;
       vlon = -79.3957;
    }

  var map, datasource, client, popup;

  function GetMap(){
    //Add your Azure Maps subscription key to the map SDK. Get an Azure Maps key at https://azure.com/maps
    atlas.setSubscriptionKey('xx1k0hE_ZgnkoUnL5jqfYDK_9azswhfjNkFJFWw89Yw');

    //Initialize a map instance.
    map = new atlas.Map('myMap');

    //Wait until the map resources have fully loaded.
    map.events.add('load', function () {

      //Create a data source and add it to the map.
      datasource = new atlas.source.DataSource();
      map.sources.add(datasource);

      //Add a layer for rendering point data.
      var resultLayer = new atlas.layer.SymbolLayer(datasource, null, {
        iconOptions: {
           iconImage: 'pin-round-darkblue',
           anchor: 'center',
           allowOverlap: true
        }
      });
      map.layers.add(resultLayer);

      //Create an instance of the services client.
       client = new atlas.service.Client(atlas.getSubscriptionKey());

       //Execute a POI search query then add the results to the map.
        client.search.getSearchPOI('gasoline station', {
            lat: vlat,
            lon: vlon,
            radius: 100000
        }).then(response => {
            //Parse the response into GeoJSON so that the map can understand.
            var geojsonResponse = new atlas.service.geojson.GeoJsonSearchResponse(response);
            var results = geojsonResponse.getGeoJsonResults();

            //Add the results to the data source so they can be rendered. 
            datasource.add(results);

            // Set the camera bounds
            map.setCamera({
                bounds: results.bbox,
                padding: 50
            });
        });

      });



  }
  </script>
  <style>
    #map {
      width: 100%;
      height: 100%;
    }
    .portfolio {
      height: 800px;
    }
  </style>

</head>

<body id="page-top" onload="GetMap()">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">CryptoBike</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#search">Bike Search</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link portfolio-item d-block mx-auto py-3 px-0 px-lg-3 rounded" href="#log-in-modal">User</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container">
      <img class="img-fluid mb-5 d-block mx-auto" src="img/logo-c.png" alt="">
      <h1 class="text-uppercase mb-0">CryptoBike</h1>
      <hr class="star-light">
      <h2 class="font-weight-light mb-0">Bike-sharing with a side of cryptographical verification.</h2>
    </div>
  </header>

  <!-- Bike Search Section -->
  <section class="portfolio" id="search">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">Bike Search</h2>
      <hr class="star-dark mb-5">
      <div class="row" style="height: 500px">
        <div id="myMap" class="container"></div>
      </div>
    </div>
  </section>

  <div class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; CryptoBike 2019</small>
    </div>
  </div>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- Page Modals -->

  <!-- User Profile -->
  <div class="portfolio-modal mfp-hide" id="user-profile-modal">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Profile</h2>
            <hr class="star-dark mb-5">
            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Close</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bike and CryptoLock Info -->
  <div class="portfolio-modal mfp-hide" id="bike-lock-info">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Bike Info</h2>
            <hr class="star-dark mb-5">
            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Close</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Bike and CryptoLock -->
  <div class="portfolio-modal mfp-hide" id="add-bike-lock-modal">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Add Bike and CryptoLock</h2>
            <hr class="star-dark mb-5">
            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Close</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Log In -->
  <div class="portfolio-modal mfp-hide" id="log-in-modal">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Log In</h2>
            <hr class="star-dark mb-5">
            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Close</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Register -->
  <div class="portfolio-modal mfp-hide" id="register-modal">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">Register</h2>
            <hr class="star-dark mb-5">
            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Close</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/cryptobike.min.js"></script>

</body>

</html>
